@model RegisterBankAccountViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="flipInX animated">RegisterBankAccount</h2>


<form asp-controller="BankAccount" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4 class="flipInX animated">Create a new bank account by filling form below.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group flipInX animated">
        <label asp-for="DailyLimit" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="DailyLimit" class="form-control" />
            <span asp-validation-for="DailyLimit" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group flipInX animated">
        <label asp-for="MonthlyLimit" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="MonthlyLimit" class="form-control" />
            <span asp-validation-for="MonthlyLimit" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group flipInX animated">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

