@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Way Ticket<br />
    Krakow<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@DoBanku.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@DoBanku.pl</a>
</address>
